@import "../elements";

$height: 2em;

:host {
  height: 2em;

  // flex
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

lmv-button {
  width: 2em;
  height: 2em;
}

#timeline {
  width: auto;
  margin: 0 10px;
  flex-grow: 1;
}

.time-val {
  text-align: right;
}