@import "../elements";

$icon-size: 20px;

:host {
  // background-color: black;
  // border: 1px solid white;
};

.icon {
  width: $icon-size;
  height: $icon-size;

  // pointer-events: none;
  cursor: auto;

  visibility: hidden;
  background: url("../../images/iconmonstr-arrow-25-icon-64.png") center no-repeat;
  background-size: 50%;

  &[expanded=true], &[expanded=false] {
    visibility: visible;
    cursor: pointer;
    transition: transform $color-hover-duration;

  }
  &[expanded=true] {
    transform: rotate(90deg);
  }
}

#wrapper {
  &, tbody, tr {
    display: block;
    width: 100%;
  }
}

#label {
  cursor: pointer;
  vertical-align: middle;

  &:hover {
    text-decoration: underline;
    color: $color-2;
  }
}

#content {
  display: none;
  padding-left: $icon-size;

  &[expanded=true] {
    display: block;
  }
}