$font-stack: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$color-1:   #fff;
$color-2:   #0ff;
$color-bg:  rgba(0, 0, 0, 0.5);

:host {
  display: block;
  font-family: $font-stack;
  color: $color-1;
}

a {
  color: $color-2;
}