// variables

$font-stack: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 14px;

$color-1: #fff;
$color-2: #0ff;
$color-3: #999;
$color-bg: rgba(0, 0, 0, 0.5);
$color-bg-hover: rgba(0, 0, 0, 0.5);
$color-bg-darken: rgba(0, 0, 0, 0.15);
$color-hover-duration: 0.2s;


// normalize

div, span, p, pre, a, img
h1, h2, h3, h4, h5, h6,
fieldset, form, label, input, select
table, caption, tbody, tfoot, thead, tr, th, td,
canvas, embed, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: $font-size;
  font: inherit;
  vertical-align: baseline;
}
:host {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


// element

:host {
  display: block;
  position: relative;
  font-family: $font-stack;
  font-size: $font-size;
  color: $color-1;
}

// TODO_NOP: styling
input, select {
  background: none;
  background-color: $color-bg-darken;
  border: none;
  border-radius: 0;
  color: $color-1;
  border-color: $color-1;
}

select,
input[type=checkbox],
input[type=range] {
  cursor: pointer;
}


// scrollbar

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-button {
  background-color: $color-bg-darken;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
