// This file isn't really necessary
// since it only sets the body

$font-stack: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$color-1:   #fff;
$color-2:   #0ff;
$color-bg:  #aaf;

body {
  background: $color-bg;
  overflow: hidden;
  // color: $color-1;
  // font-family: $font-stack;
}