/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 *
 * Modified with "shadow deep" for Polymer web components
 */

/* TODO_NOP: really shouldn't be using reset.css... */

html, html/deep/body, html/deep/div, html/deep/span, html/deep/applet, html/deep/object, html/deep/iframe,
html/deep/h1, html/deep/h2, html/deep/h3, html/deep/h4, html/deep/h5, html/deep/h6, html/deep/p, html/deep/blockquote, html/deep/pre,
html/deep/a, html/deep/abbr, html/deep/acronym, html/deep/address, html/deep/big, html/deep/cite, html/deep/code,
html/deep/del, html/deep/dfn, html/deep/em, html/deep/img, html/deep/ins, html/deep/kbd, html/deep/q, html/deep/s, html/deep/samp,
html/deep/small, html/deep/strike, html/deep/strong, html/deep/sub, html/deep/sup, html/deep/tt, html/deep/var,
html/deep/b, html/deep/u, html/deep/i, html/deep/center,
html/deep/dl, html/deep/dt, html/deep/dd, html/deep/ol, html/deep/ul, html/deep/li,
html/deep/fieldset, html/deep/form, html/deep/label, html/deep/legend,
html/deep/table, html/deep/caption, html/deep/tbody, html/deep/tfoot, html/deep/thead, html/deep/tr, html/deep/th, html/deep/td,
html/deep/article, html/deep/aside, html/deep/canvas, html/deep/details, html/deep/embed,
html/deep/figure, html/deep/figcaption, html/deep/footer, html/deep/header, html/deep/hgroup,
html/deep/menu, html/deep/nav, html/deep/output, html/deep/ruby, html/deep/section, html/deep/summary,
html/deep/time, html/deep/mark, html/deep/audio, html/deep/video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
html/deep/article, html/deep/aside, html/deep/details, html/deep/figcaption, html/deep/figure,
html/deep/footer, html/deep/header, html/deep/hgroup, html/deep/menu, html/deep/nav, html/deep/section {
    display: block;
}
html/deep/body {
    line-height: 1;
}
html/deep/ol, html/deep/ul {
    list-style: none;
}
html/deep/blockquote, html/deep/q {
    quotes: none;
}
html/deep/blockquote:before, html/deep/blockquote:after,
html/deep/q:before, html/deep/q:after {
    content: '';
    content: none;
}
html/deep/table {
    border-collapse: collapse;
    border-spacing: 0;
}