@import "../elements";

:host {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;

  user-select: none;

  width: 100%;
  @media(min-width: 550px) {
    width: 400px;
  }
}

#button-bar {
  display: inline-block;
  float: right;

  height: 100%;
  @media(min-width: 550px) {
    height: auto;
  }

  background-color: $color-bg-light;
}

#main-wrap {
  width: auto;
  height: 100%;
  overflow: hidden;
  display: block;
}
#main {
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: $color-bg;
}

// right side

:host([right]) {
  right: 0;
  #button-bar {
    float: left;
  }
}