@import "../elements";

$panel-width: 400px;
$panel-width-less-bar: 350px;
$panel-slide-duration: 0.5s;

#wrapper {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;

  user-select: none;

  width: 100%;
  @media(min-width: 550px) {
    width: $panel-width;
  }

  transition: left $panel-slide-duration, right $panel-slide-duration;
}

#button-bar {
  display: inline-block;
  float: right;

  height: 100%;
  @media(min-width: 550px) {
    height: auto;
  }

  background-color: $color-bg-light;
}

#main-wrap {
  width: auto;
  height: 100%;
  overflow: hidden;
  display: block;
}
#main {
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: $color-bg;
}

#toggle-button {
  &::shadow img {
    transition: transform $panel-slide-duration;
  }
  display: none;
  @media(min-width: 550px) {
    display: inherit;
  }
}

// left / right side

#wrapper {

  // default left

  left: 0;
  #toggle-button::shadow img {
    transform: rotate(180deg);
  }
  &[collapse=true] {
    left: -$panel-width-less-bar;
    #toggle-button::shadow img {
      transform: rotate(0);
    }
  }

  // right side

  &[right=true] {
    left: auto;
    right: 0;
    #toggle-button::shadow img {
      transform: rotate(0);
    }
    #button-bar {
      float: left;
    }
    &[collapse=true] {
      right: -$panel-width-less-bar;
      #toggle-button::shadow img {
        transform: rotate(180deg);
      }
    }
  }
}

