@import "../elements";

$toolbar-width: 40px;  // HARDCODE: from button size
$panel-width: 400px;
$panel-slide-duration: 0.5s;
$mobile-width: 550px;

:host {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;

  width: calc(100% - #{$toolbar-width});
  @media(min-width: $mobile-width) {
    width: $panel-width;
  }

  background-color: $color-bg;

  transition: left $panel-slide-duration, right $panel-slide-duration;
}

#main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#toolbar {
  position: absolute;
  display: block;
  height: auto;
  background-color: $color-bg-light;
}

#toggle-button {
  &::shadow img {
    transition: transform $panel-slide-duration;
  }
}

// left / right side

:host {
  left: 0;
  #toolbar {
    right: -$toolbar-width;
  }
  #toggle-button::shadow img {
    transform: rotate(180deg);
  }
}
:host([collapse]) {
  left: calc(#{$toolbar-width} - 100%);
  @media(min-width: $mobile-width) {
    left: -$panel-width;
  }
  #toggle-button::shadow img {
    transform: rotate(0);
  }
}

:host([right]) {
  left: auto;
  right: 0;
  #toolbar {
    left: -$toolbar-width;
    right: auto;
  }
  #toggle-button::shadow img {
    transform: rotate(0);
  }
}
:host([right][collapse]) {
  right: calc(#{$toolbar-width} - 100%);
  @media(min-width: $mobile-width) {
    right: -$panel-width;
  }
  #toggle-button::shadow img {
    transform: rotate(180deg);
  }
}

