@import "../elements";

:host {
  display: inline-block;
  position: relative;
}

input, select {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

input {
  border: 0;
}

input[type=checkbox] {
  width: auto;
  height: auto;
}

select,
input[type=checkbox],
input[type=range] {
  cursor: pointer;
}

// TODO_NOP: styling

input, select {
  background: none;
  background-color: $color-bg-darken;
  border: none;
  border-radius: 0;
  color: $color-1;
  border-color: $color-1;
}

// TODO_NOP: bug android can't drag range slider