@import "../elements";

:host {
  display: inline-block;
  position: relative;
}

input, select {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

input[type=checkbox] {
  width: auto;
  height: auto;
}