@import "../elements";

$border: 1px solid $color-1;

#header, #content {
  padding: 10px;
}

#header {
  font-size: 20px;
  cursor: pointer;

  background-color: $color-bg-darken;
  transition: background-color $color-hover-duration;
  &:hover {
    background-color: $color-bg-hover;
  }
}

#content {

  &[collapse=true] {
    display: none;
  }
}