@import "../_elements";

$item-size: 60px;

lmv-context-menu {
  background-color: transparent;
  width: auto;
}

#wrapper {
  margin-left: -50%;
}

lmv-button {
  display: inline-block;
  width: $item-size;
  height: $item-size;
  vertical-align: bottom; // TODO_NOP: not sure why
  font-size: 12px;
}