@import "../elements";

$size: 50px;

div#button {
  display: inline-block;
  width: $size;
  height: $size;

  box-sizing: border-box;
  padding: 10px;

  cursor: pointer;

  transition: background-color 0.1s;

  &:hover, &[active=true] {
    background-color: $color-bg-dark;
  }

  img {
    width: 100%;
    height: 100%;
  }
}