@import "../elements";

$size: 40px;

:host {
  width: $size;
  height: $size;

  box-sizing: border-box;
  padding: 8px;

  cursor: pointer;

  transition: background-color $color-hover-duration;

  img {
    width: 100%;
    height: 100%;
  }
}

:host(:hover), :host([active]) {
  background-color: $color-bg-hover;
}