@import "../elements";

:host {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em;
  cursor: pointer;
  background-color: $color-bg-darken;
  transition: background-color $color-hover-duration;
}

:host(:hover), :host([active]) {
  background-color: $color-bg-hover;
}

#icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: center no-repeat;
  background-size: 50%;
}