@import "../elements";

:host {
  position: fixed;
  display: none;
  z-index: 10;

  // can be override by others
  background-color: $color-bg;
  min-width: 120px;
}

:host([show]) {
  display: block;
}