@import "../elements";

:host {
  z-index: 10;
  background-color: $color-bg;

  min-width: 120px;
  position: fixed;
  top: 0;
  left: 0;

  display: none;
}

:host([show]) {
  display: block;
}

polyfill-next-selector { content: ':host > :not(template)'; }
::content > :not(template) {
  display: block;
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid $color-bg-darken;
  cursor: pointer;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background-color: $color-bg-hover;
  }

  &.line {
    border-bottom: 1px solid $color-1;
  }
}