@import "../elements";

$indent-size: 15px;

:host {
  // background-color: black;
  // border: 1px solid white;
  user-select: none;

  #content {
    display: none;
    padding-left: $indent-size;

    &[expanded=true] {
      display: block;
    }
  }

  #line {
    margin-top: .4em;
  }

  #label {
    cursor: pointer;

    &:hover, &[selected=true] {
      text-decoration: underline;
      color: $color-2;
    }

    &[grayed=true] {
      color: $color-3;
    }
  }

  .expand-icon {
    font-size: 1em;

    // pointer-events: none;
    cursor: auto;

    visibility: hidden;

    &[expanded=true], &[expanded=false] {
      visibility: visible;
      cursor: pointer;
      transition: transform $color-hover-duration;
    }
    &[expanded=true] {
      transform: rotate(90deg);
    }
  }

}
